td {
    font-family: 'Slabo 27px', serif;
    color: blue;
    font-size: 120%;
}

th {
    font-family: 'Slabo 27px', serif;
    color: crimson;
    font-size: 110%;
}

.list tr td .remove {
    color: red;
}

.no-files {
    width: 150px;
    margin: 0 auto;
    color: crimson;
}