{% extends 'base.html' %}
{% load static %}
{% block title %}Upload{% endblock %}
{% block content %}
    <div class="file-form col-md-2 col-md-offset-5">
        <form enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
            {% csrf_token %}
            <label class="btn btn-default btn-file" for="{{ input.id_for_label }}">
                Open file {{ input }}
            </label>
            <input type="submit" class="btn btn-success" value="Upload">
        </form>
    </div>
{% endblock %}