<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div style="width: 400px; margin: 0 auto; margin-top: 20%;">
    <h1 style="text-align: center">Welcome to my cloud</h1>
    <div style="width: 150px; margin: 0 auto">
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
        <a href="{% url 'register' %}" class="btn btn-success">Signup</a>
    </div>
</div>
</body>
</html>